/*ROOT RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

:root {
    --cor-background-01:#f0f6ff;
    --cor-background-02:#ffffff;
    --cor-background-03:#02295a;
    --cor-background-04: #02295a;
    --cor-background-05: #99c7ff;


    --cor-border-01:#a0a0a1; 

    --font--01:#02295a;
    --font--02:#02295a;
    --font--03:#02295a;
    --font--04:#f0f6ff;
    --font--05:#f0c424;

    --fontFamily-01: 'Ubuntu', sans-serif;

    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: auto;
    align-content: center;
    background-color: var(--cor-background-01);
    justify-content: center;
    font-family: var(--fontFamily-01);
    font-weight: 400;
    font-size: 16px; 
    color: var(--font--01)  ;
    
}

.mainlyBox{
    display: flex;    
    justify-content: center;
    margin: auto;
    max-height: 100vh;        
    max-width: 50vw;
    width: 60vw;
     
    padding: 2em;  
}

.borderBox {
    display: flex;
    border-radius: 1em;    
}

.step {
    display: flex;
    flex-direction: row;
}

.stepsList {
    display: flex;
    flex-direction: column;
    /* justify-content: center;     */
    text-align: start;
    background-color: var(--cor-background-03);
    color: var(--font--04);
    min-width: 15vw;
    max-width: 15.1vw;  
    border-radius: 1em 0 0 1em; 
}

.stepsList_steps {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1em;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
}

.stepList__circle {
    display: flex;
    align-content: center;
    margin: auto 0;
    max-width: 5vw;
    font-size: 1.8em;
}

.stepList__info__p{
    box-sizing: border-box;
    padding: 1em;
    gap: 1em;
    align-content: start;
    justify-content: space-between;
    color: var(--font--05);
}

.stepList__info__span {
    color: var(--font--04);
}

.checkboxImage {
    max-height: 2em;
    max-width: 2em;
    margin: auto;
    margin-right: 0;
    justify-content: center;

}

.forms { 
    min-width: 100%;
}

.formulario {   
    display: flex; 
    flex-direction: column;
    background-color: var(--cor-background-02);    
    min-height: 54.999vh;
    max-height: 55vh;    
    max-width: 100%;    
    min-width: 50%;    
    align-content: space-between;
    gap: 1em;
    padding: 3em;
    border-radius: 0 1em 1em 0;

    transform: translateX(200%);
    opacity: 0;
    transition: 200ms ease-in-out;
}


.some{
    display: none;
}

.aparece {
    display: flex;
    transform: translateX(0);
    opacity: 1;
}

[data-some] {
    display: none;
}

.form__input {
    border-radius: 0.25em;
    border: 1px solid var(--cor-border-01);
    padding: 0.5em;
    font-size: 1em;
}

.form__labelName{
    font-size: 1.2em;
    padding: 1em 0 0.25em 0;
    font-weight: 500;
}

.form__titles {
    padding: 0em 0em;    
}


.formulario__titulo {
    font-size:2em;
    font-weight: 700;
    margin: 0.5em 0;
}

.formulario__subtitulo {
    color: var(--font--02);
}

.form__infos {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}

.buttonNextPrevious {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.next, .previous {
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 700;
    color: var(--font--04);
    background-color: var(--cor-background-04);
    border-radius: 0.3em ;
    min-width: 5em;
    border: 1px solid var(--cor-background-03)

}

/* STEP02 */

.plans__cardList{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 2em 0;   
}

.cardList__card{
    border: 1px solid var(--cor-border-01);
    border-radius: 0.75em;
    box-sizing: border-box;
    width: 30%;
    padding: 1em 3em 1em 1em;
    min-height: 20vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cardList__card:hover {
    background-color: var(--cor-background-05);
    color: var(--font--01);
    transform: scale(105%);
    border: 1px solid var(--cor-background-03);
}

.selected {
    background-color: var(--cor-background-05);
    color: var(--font--01);
    transform: scale(105%);
    border: 1px solid var(--cor-background-03);
}

.cardList__image {
    height: 5em;
}

.card__textInside {
    padding: auto 2em 0 0;
    gap: 1em;
}

.card__text {
    font-weight: 700;
    font-size: 1.2em;    
    padding-bottom: 1em;
    margin: 2em 0 0.5em 0;
}

.card__price {
    color: var(--font--02)
}

.buttonSlide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

#buttonYearMonth {
    background-color: var(--cor-background-01);
    border-radius: 1em;
    font-weight: 500;
}

/* STEP 03 */

.add-ons {
    box-sizing: border-box;
}

.add-ons__item {
    display: flex;    
    box-sizing: border-box;    
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid var(--cor-border-01);
    border-radius: 1em;
    margin: 1em;
}

.add-ons__title {
    font-weight: 500;
}

.add-ons__price__monthly{
    font-weight: 500;
}

.add-ons__textAndPrice{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;    
    min-width: 100%;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.add-ons__text {
    display: flex;
    flex-direction: column;
}

.add-ons__description {
    margin-top: 0.5em;
    color: var(--font--02);
}

.finalCart {
    margin: auto 0 auto 0;    
}

.finalCart__text, .finalCart__totalPrice {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 0.5em;
    
    align-items: center;
}

.finalCart__text {
    border: 1px solid var(--cor-border-01);
    border-radius: 1em;
}

.finalCart__totalPrice{
    padding: 1em;
}


.finalCart__totalPrice__text{
    color: var(--font--02);
}

.finalCart__totalPrice__price {
    color: var(--cor-background-03);
    font-size: 1.2em;
    font-weight: 500;
}

.finalCart__planSelected{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.25em 0 0.25em 0.5em;
}

.finalCart__title {
    font-weight: 500;
}

.changePlan {
    color: var(--font--02);
    text-decoration: none;
}

/* THANK YOU */

.thankYou {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;    
    padding: 3em;
    gap: 1em;
    margin: auto 0;
}

.thankYou__img{
    height: 7em;
    width:   7em;
}

.thankYou__title {
    font-size: 1.7em;
    font-weight: 500;
}

.thankYou__text {
    text-align: center;
    color: var(--font--02);
    font-size: 1.1em;
    max-width: 70%;
}

.multiStepForm {
    overflow: hidden;
}

#form02 {    
    
    /* max-height: 70vh;   */
}